<div id="product-price">
  <div>
    <span class="price selling" itemprop="price" content="<%= @product.price_for(current_pricing_options).to_d %>">
      <%= display_price(@product) %>
    </span>
    <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
  </div>

  <% if @product.master.can_supply? %>
    <link itemprop="availability" href="http://schema.org/InStock" />
  <% elsif @product.variants.empty? %>
    <br />
    <span class="out-of-stock"><%= t('spree.out_of_stock') %></span>
  <% end %>
</div>
