@import 'reset'
$b-basic: #E5D0AC
$b-dark: #794E28
$b-garnish: #D2B58B
$light-text: #F2EFE4
$highlight: #DDB853
$hl-dark: #aa8523
$pebbles: #5F6573

$greyed-out: #777
$fancy-text-col: $b-dark
$ftc-lite: #9b6f4a
$ftc-lighter: #bd8f6d

$error-bg: lightsalmon
$error-garnish: darksalmon

@mixin step-box($width)
  max-width: $width
  margin: auto
  padding: 60px
  border: 1px solid $b-garnish

@mixin basic-button($col)
    border: none
    color: $light-text
    background: $col
    padding: 10px

html
  font-family: 'Raleway', sans-serif

.top-banner
  background-image: image-url('pink_sky.jpg')
  background-position: 60%
  .banner-overlay
    box-sizing: border-box
    padding-top: 70px
    background-color: rgba(100, 200, 100, 0.4)
    height: 100%
    h2,
    h1
      text-align: center
      color: $light-text
    h1
      font-size: 3rem
    h2
      font-size: 2rem
      margin-bottom: 110px
    h3
      font-size: 1.2rem
      padding: 0 40px
    button
      @include basic-button($fancy-text-col)

.main-navbar
  $light-text-space: nowrap
  width: 100%
  border-bottom: 1px solid $pebbles
  padding: 20px 20px 0 0
  font-size: 0.9em
  li
    margin-right: 20px
    margin-bottom: 10px

  aside
    float: right
    text-align: right
    div
      display: inline-block
      margin-left: 40px
    .amount
      font-weight: bolder
      padding-left: 5px
      border-left: 1px solid $pebbles
  ul.main
    $light-text-space: normal
    margin: 0 290px 10px 20px
  li,
  ul,
  aside,
    display: inline-block

h1
  font-size: 2.4em
  color: $fancy-text-col

p,
tbody
  font-size: 1em
  line-height: 1.5em

a
  text-decoration: none
  color: $fancy-text-col

input,
select
  background: $light-text

button.primary,
.continue.button,
.cart-button
  @include basic-button($fancy-text-col)
  margin-top: 15px

.button
  padding: 10px

input.button.primary
  @include basic-button($fancy-text-col)

#wrapper
  padding-top: 60px
  background: $b-basic
  padding-bottom: 200px

.line_item_quantity,
#wrapper #quantity
    padding: 10px 5px
    border-radius: 0
    border: none
    border-left: 1px solid #dedede
    border-top: 1.5px solid #ccc
    background: $light-text

.welcome
  max-width: 700px
  margin: auto
  text-align: center
  h1
    border-bottom: 1px solid #dde
    margin: 0 0 20px 0
    padding: 0 0 20px 0
  h2
    font-size: 2em
    color: $light-text
    line-height: 1.3em
[data-hook=homepage_products]
  //background-image: image-url('full_waterfall.JPG')
  //background-size: cover
#products
  display: flex
  max-width: 1300px
  margin: auto
  flex-wrap: wrap
  justify-content: center
  li
    display: flex
    width: 230px
    margin: 30px
    justify-content: center
    align-items: center
    flex-direction: column
    .product-image
      margin-bottom: 5px
    a
      text-align: center
    .price-holder
      text-align: center
      margin-top: 15px
    #quantity
      display: none

#breadcrumbs
  margin-bottom: 20px
  li
    display: inline-block



#product-details
  #wrapper
    max-width: 1000px
    margin: auto
  #content.columns.sixteen
    padding: 80px 80px 140px 80px
    border: 1px solid $b-garnish
    h1
      margin-bottom: 60px
  .columns.six.alpha
    margin-right: 80px
    float: left
    .tmb-all.tmb-1
      display: inline-block
      margin: 20px 0 0 20px
  .columns.ten.omega
    #product-price
      font-size: 1.2em
      color: $ftc-lite
      margin-bottom: 20px
    [itemprop="description"]
      margin-bottom: 20px
    #inside-product-cart-form
      margin-top: 20px
    td
      padding-right: 20px

#footer
  background: $b-dark
  .content-wrapper
    padding-top: 100px
    display: flex
    justify-content: space-around
    .sustainability,
    .contact
      color: $light-text
      h6
        font-size: 1.3rem
        padding-bottom: 30px
        border-bottom: 1px solid $light-text
      ul
        margin-top: 20px
        margin-bottom: 100px
        li
          font-size: 1rem
          padding: 10px


body#cart
  #wrapper
    @include step-box(900px)

h1.cart
  text-align: center
  margin-bottom: 100px

#cart-detail
  width: 100%
  tr
    border-bottom: 1px solid $b-garnish
    td,
    th
      padding: 10px
    td
      vertical-align: middle
    .cart-item-description
      width: 290px
  .cart-total
    border-bottom: none

.links.columns.sixteen.alpha.omega
  margin-top: 40px
  #update-button
    float: right
    margin-right: 60px
  input
    background: $light-text
    border: 1px solid $b-garnish
    padding: 10px

#empty-cart
  margin-top: 120px
  input.button
    @include basic-button($fancy-text-col)
.empty-cart-warning
  p
    margin-bottom: 30px

@mixin user-related($bor, $bak)
  h6,
  .button
    border-bottom: 1px solid $bor
    background: $bak
  .button
    border: 1px solid $bor
  h6
    font-size: 1.3rem
    text-align: center
    padding: 20px
    margin-bottom: 20px
    color: $light-text
  input,
  select
    margin-bottom: 20px
    border-radius: 0
    border: 1px solid $b-garnish
    padding: 10px

div.registration-holder,
#checkout
  max-width: 1100px
  margin: auto
  border: 1px solid $b-garnish
  h1
    text-align: center
    border-bottom: 1px solid $b-garnish
    padding: 20px
    background: $b-garnish
  input,
  select
    margin-bottom: 20px
    border-radius: 0
    border: 1px solid $b-garnish
    padding: 10px
  select
    -moz-appearance: none
    background-image: image-url('select_arrows.png')
    background-position: 97% center
    background-repeat: no-repeat
    background-size: 20px 20px

  form
    margin-bottom: 60px
  #registration
    padding: 50px 50px 100px 50px
    display: flex
    justify-content: space-evenly
    #account,
    #guest_checkout
    #account
      @include user-related($b-dark, $b-dark)
    #guest_checkout
      @include user-related($b-dark, $b-dark)
    .back-link
      display: none

.progress-steps
  display: flex
  justify-content: space-between
  margin-bottom: 30px
  li
    width: 20%
    @include basic-button($greyed-out)
    padding: 20px 10px
    text-align: center
    border-right: 1px solid $light-text
  li.current-first,
  li.current
      background: $ftc-lite
  li.completed-first,
  li.completed
    background: $fancy-text-col
    a
      color: $light-text
  li:last-child
    border: none

@mixin devise-interface($bor, $bak)
  @include user-related($bor, $bak)
  padding-bottom: 30px
  margin: 70px 0 40px 0
  border-bottom: 1px solid $b-dark

legend
  font-size: 1.5rem
  color: $fancy-text-col
  text-align: left
  padding: 0 8px

#content > .login-holder
  max-width: 400px
  margin: auto
  #forgot-password,
  #new-customer,
  #existing-customer
    @include devise-interface($b-dark, $b-dark)
  #forgot-password > p
    margin-bottom: 15px

#checkout_form_address
  margin: 0 60px
  p.field
    margin-bottom: 30px
  legend
    float: left
  #shipping,
  #billing
    border: 1px solid $b-garnish
    width: 340px
    padding: 30px
    margin-bottom: 70px
    p
      margin-bottom: 30px
  #shipping
    .field.checkbox
      margin-left: 110px
      font-size: 0.7rem
      margin-top: 30px
      margin-bottom: 20px
      #use_billing
        vertical-align: 4px
  #billing
    float: left
    margin-right: 80px
    .inner
      padding-top: 90px
  hr.clear
    visibility: hidden
  .columns.omega.six
    min-height: 1242px

@mixin block-heading
  text-align: center
  box-sizing: border-box
  background: $fancy-text-col
  color: $light-text
  padding: 15px
  border-bottom: 1px solid $light-text

#checkout_form_delivery
  #shipping_method
    @include step-box(700px)
    h5,
    h3
      @include block-heading
    table
      margin-bottom: 60px
      width: 100%
      th,
      td
        padding: 10px
      th
        background: $b-garnish
      td
        border-bottom: 1px solid $b-garnish
        vertical-align: middle
    ul
      margin-top: 20px
      li
        margin-bottom: 10px
        border-bottom: 1px solid $b-garnish
  div.form-buttons
    max-width: 822px
    margin: auto

#checkout_form_payment
  #payment
    @include step-box(700px)
  div.form-buttons
    max-width: 822px
    margin: auto
  p
    margin-bottom: 20px

#checkout_form_confirm
  #order_details
    @include step-box(870px)
    .row.steps-data
      display: flex
      margin-bottom: 40px
      .columns.omega.four,
      .columns.alpha.four
        font-size: 0.8rem
        margin: 0 8px
        h6
          font-weight: bold
          padding-bottom: 6px
          border-bottom: 1px solid $b-garnish
          margin-bottom: 10px
        div
          br
            margin: 3px 0
          div
            margin: 6px 0
  hr
    visibility: hidden
  table
    th
      @include block-heading
    th,
    td
      vertical-align: middle
      padding: 10px
      h4
        color: $fancy-text-col
        font-weight: bold
    tbody
      tr
        border-bottom: 1px solid $b-garnish
    tfoot
      td
        text-align: right
    tfoot#subtotal,
    tfoot#order-total
      font-size: 1.3rem
      b
        font-weight: 400
    tfoot#tax-adjustments,
    tfoot#shipment-total
      color: #999
      font-size: 1rem
  div.form-buttons
    max-width: 992px
    margin: auto

#checkout-summary
  max-width: 980px
  margin: auto
  text-align: center
  margin-bottom: 100px
  h3
    @include block-heading
    font-size: 1.2rem
  table
    width: 100%
    tr
      border-bottom: 1px solid $light-text
    td
      text-align: right
      border-bottom: 1px solid $b-garnish
      padding: 10px
      width: 50%

@mixin flash-message($main, $garnish)
    max-width: 900px
    margin: auto
    padding: 15px
    background: $main
    border-left: 8px solid $garnish
    text-align: center

#errorExplanation,
.flash.errors
  @include flash-message($error-bg, $error-garnish)

.flash.notice
  @include flash-message($b-dark, $b-dark)
