@import 'reset'

$garnish-col: #bbb

.main-navbar
  white-space: nowrap
  width: 100%
  border-bottom: 1px solid $garnish-col
  padding: 20px 20px 0 0
  font-size: 0.9em
  margin-bottom: 60px
  li
    margin-right: 20px
    margin-bottom: 10px

  aside
    float: right
    margin-right: 40px
    div
      display: inline-block
      margin-left: 40px
  ul
    white-space: normal
    margin: 0 290px 10px 20px
  li,
  ul,
  aside,
    display: inline-block

$fancy-text-col: #4466cc
$ftc-lite: #7799ff
$secondary-text-col: #888

h1
  font-size: 2.4em
  color: $fancy-text-col

p,
tbody
  font-size: 1em
  line-height: 1.5em

a
  text-decoration: none
  color: $fancy-text-col

@mixin basic-button
    border: none
    color: white
    background: $fancy-text-col
    padding: 10px

button.primary,
.continue.button,
.cart-button
  @include basic-button
  margin-top: 15px

.button
  padding: 10px

.line_item_quantity,
#wrapper #quantity
    padding: 10px 5px
    border-radius: 0
    border: none
    border-left: 1px solid #dedede
    border-top: 1.5px solid #ccc
    background: #eee


.welcome
  max-width: 700px
  margin: auto
  text-align: center
  h1
    border-bottom: 1px solid #dde
    margin: 0 0 20px 0
    padding: 0 0 20px 0
  h2
    font-size: 2em
    color: $secondary-text-col
    line-height: 1.3em

#products
  display: flex
  max-width: 1300px
  margin: auto
  flex-wrap: wrap
  justify-content: center
  li
    display: flex
    width: 230px
    margin: 30px
    justify-content: center
    align-items: center
    flex-direction: column
    .price-holder
      text-align: center
      margin-top: 15px
    #quantity
      display: none

#breadcrumbs
  margin-bottom: 20px
  li
    display: inline-block


#wrapper
  margin: 0 0 0 40px
  .columns.six.alpha
    margin-right: 80px
    float: left
    .tmb-all.tmb-1
      display: inline-block
      margin: 20px 0 0 20px
  .columns.ten.omega
    max-width: 1000px
    #product-price
      font-size: 1.2em
      color: $ftc-lite
      margin-bottom: 20px
    [itemprop="description"]
      margin-bottom: 20px
    #inside-product-cart-form
      margin-top: 20px
    td
      padding-right: 20px

#footer
  margin-top: 200px
  height: 300px
  background: #225533


#update-cart
  max-width: 900px
  margin: auto

h1.cart
  text-align: center
  margin-bottom: 100px

#cart-detail
  width: 100%
  tr
    border-bottom: 1px solid #eee
    td,
    th
      padding: 10px
    td
      vertical-align: middle
    .cart-item-description
      width: 290px
  .cart-total
    border-bottom: none

.links.columns.sixteen.alpha.omega
  margin-top: 40px
  #update-button
    float: right
    margin-right: 60px
  input
    background: white
    border: 1px solid #ddd
    padding: 10px

#empty-cart
  margin-top: 120px
  input.button
    border: none
    background: black
    color: white
    padding: 10px

.empty-cart-warning
  p
    margin-bottom: 30px

$login-background: #dfd
$login-border: #ada
$guest-background: #ddf
$guest-border: #aad

@mixin user-related($bor, $bak)
  h6,
  .button
    border-bottom: 1px solid $bor
    background: $bak
  .button
    border: 1px solid $bor
  h6
    text-align: center
    padding: 20px
    margin-bottom: 20px
  input
    margin-bottom: 20px
    border-radius: 0
    border: 1px solid #ddd
    padding: 10px


div.registration-holder,
#checkout
  max-width: 1100px
  margin: auto
  border: 1px solid #ddd
  h1
    text-align: center
    border-bottom: 1px solid #ddd
    padding: 20px
    background: #efefef
  input
    margin-bottom: 20px
    border-radius: 0
    border: 1px solid #ddd
    padding: 10px
  form
    margin-bottom: 60px
  #registration
    padding: 50px 50px 100px 50px
    display: flex
    justify-content: space-evenly
    #account,
    #guest_checkout
    #account
      @include user-related($login-border, $login-background)
    #guest_checkout
      @include user-related($guest-border, $guest-background)
    .back-link
      display: none

#checkout-step-address
  display: flex
  justify-content: space-between
  margin-bottom: 30px
  li
    width: 20%
    @include basic-button
    padding: 20px 10px
    text-align: center
    border-right: 1px solid white
  li.current-first
      background: $ftc-lite
  li:last-child
    border: none

#content > .login-holder
  max-width: 400px
  margin: auto
  #existing-customer
    @include user-related($login-border, $login-background)
    padding-bottom: 30px
    margin: 70px 0 40px 0
    border-bottom: 1px solid $login-border

.flash.errors
  max-width: 900px
  margin: auto
  padding: 15px
  background: lightsalmon
  border-left: 8px solid DarkSalmon
  text-align: center
