
<footer id="footer" class="sixteen columns" data-hook>
  <div class="content-wrapper">
    <div class="sustainability">
      <h6>Our Mandates</h6>
      <ul>
        <li>Always Buy Fair-Trade</li>
        <li>Use Natural Materials Wherever Possible</li>
        <li>Quality over Price</li>
        <li>Give and Forgive</li>
      </ul>
    </div>
    <div class="contact">
      <h6>Contact Info</h6>
      <table>
        <tr>
          <td>Address:</td>
          <td>Unit 103-120 Fourth Street, Tofino, British Columbia, Canada</td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>+1 250-731-0772</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>tansgiftshop@gmail.com</td>
        </tr>
      </table>
    </div>
    <iframe class='google-map' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2664.3583248263394!2d-125.90458077425953!3d49.15261060632892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548997320831a1bb%3A0x34f9bb1c3b9b4f61!2sAmazing+Tans+Giftshop!5e0!3m2!1sen!2sth!4v1514985574374" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <%= link_to 'Back Up', '#', class: 'page-top' %>
  <div class='clear'>

  </div>
</footer>
