<!-- <header id="header" class="row" data-hook>
  <h1>Fuck You</h1>
  <figure id="logo" class="columns six" data-hook><%= logo %></figure>
  <%#= render partial: 'spree/shared/nav_bar' %>
  <%#= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
</header> -->
<nav class="main-navbar">
  <aside class="cart-info">
    <div class="cart-specs">SPECS</div>
    <div class="visit-cart">CART SYMBOL</div>
  </aside>
  <ul>
    <li>Home</li>
    <li>About</li>

    <% @taxonomies.each do |taxonomy| %>
      <%= nav_tree(taxonomy.root, @taxon, 1) %>
    <% end %>

    <li>Gallery</li>
    <li>Login</li>
    <li>Sign Up</li>
  </ul>

</nav>
