<% size ||= :mini %>
<% itemprop ||= nil %>

<% if image && image.attachment? %>
  <% if itemprop %>
    <div class="square-img-wrapper" style="background-image: url(<%= image.attachment(size) %>)" itemprop="<%= itemprop %>"></div>
  <% else %>
    <div class="square-img-wrapper" style="background-image: url(<%= image.attachment(size) %>)" </div>
  <% end %>
<% else %>
  <span class="image-placeholder <%= size %>"></span>
<% end %>
