<% if spree_current_user %>
  <li>
  <a href="<%= spree.account_path %>" class="devider"><i class="fa fa-user-circle" aria-hidden="true"></i>My Account</a></li>
  <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
<% else %>
  <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path, class: "devider" %></li>
<% end %>
