<div class="about-wrapper">
  <h1><i class="fa fa-smile-o" aria-hidden="true"></i>Our Story</h1>
  <figure class="banner">
  </figure>
  <div class="substantive">
    <div class="first-text text-holder">
      <p>Hey there!

        My name is Tan and I would like to thank you for visiting my Giftshop.

        I opened this little shop on the 16th June 2014, it was a magnificent day!

        My fully sustainable operation is based in beautiful Tofino, a small ex-whaling village in British Columbia, Canada.

        A great deal of my merchandise consists of local products from various artists or in the area

        In addition I stock a carefully curated range of clothing, accessories and gifts which I buy myself at fair-trade prices from weavers and craftspeople in Thailand and Nepal.

        When selecting stock I always source high quality (which means long-lasting) materials as well as unique designs. Every piece has a story to tell.
      </p>
    </div>
    <div class="images">
      <figure class="higher"></figure>
      <figure class="lower"></figure>
    </div>
  </div>
  <div class="end text-holder">
    <h4>Some title</h4>
    <p>Tofino is located on the west coast of Vancouver Island and just below historic Clayoquot Sound island. And basically it's great. It's got huge cedar forests full of healthy wildlife and long windswept coasts empty of tourists. And lots of sea-life too, seals, otters, clams... we spend half the year eating freshly caught salmon. So yeah, whether you've lived here all your life, or just stopped over for the summer everyone whose been here can agree that Tofino is a place whose ruggedness and beauty strike a chord directly to the heart. Or at least that's what I think. It's why I put my shop here.</p>
  </div>


</div>
