<div class="about-wrapper">
  <h1>Our Story</h1>
  <figure class="banner">
  </figure>
  <div class="substantive">
    <div class="first-text text-holder">
      <p>Hey there!

        My name is Tan and I would like to thank you for visiting my Giftshop.

        I opened the shop in June 2014.

        My sustainable shop is in beautiful Tofino, a small village in British Columbia, Canada.

        In my shop I stock a carefully curated range of clothing, accessories and gifts which we go and buy ourselves in Thailand and Nepal.

        Of course I also have local products from various artists in the area.

        When selecting items for the shop I am driven by sourcing high quality materials as well as unique designs. Every piece has a story to tell.
      </p>
    </div>
    <div class="images">
      <figure class="higher"></figure>
      <figure class="lower"></figure>
    </div>
  </div>
  <div class="end text-holder">
    <h4>Some title</h4>
    <p>Vivamus a lobortis nunc. Curabitur tortor massa, posuere eget sem sit amet, consequat ornare leo. Nunc viverra viverra pellentesque. Vestibulum congue tellus luctus purus posuere ornare. Phasellus a turpis urna. Morbi vehicula quam id nisi imperdiet, non eleifend lectus sollicitudin. Maecenas convallis dignissim justo, ac tristique felis dictum sed. In pharetra porta velit a sodales. Maecenas ac tortor dolor. Vestibulum non efficitur nunc, ac elementum est. Ut tristique porttitor ex et posuere. Curabitur feugiat elemen</p>
  </div>


</div>
