<div class="about-wrapper">
  <h1>Our Story</h1>
  <figure class="banner">
  </figure>
  <div class="substantive">
    <div class="first-text text-holder">
      <p>Ut ultricies varius enim, ut sagittis nisl vehicula et. Ut id gravida dui, ut ullamcorper quam. Fusce convallis suscipit nisi, sed porta turpis semper hendrerit. Donec ultrices commodo euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque iaculis egestas arcu, sit amet facilisis felis mattis at. Aliquam ultricies fringilla ex, id sagittis nulla fringilla a. Maecenas dignissim pretium tellus, at ullamcorper ex convallis in. Nunc cursus nisl quam, vel interdum mi eleifend feugiat. Ut mattis mi nec dolor hendrerit, sed fringilla mi imperdiet. Ut rhoncus tempor nisl at suscipit. Suspendisse interdum nisl id quam malesuada interdum. Sed et tellus purus. Praesent bibendum ipsum nec nunc scelerisque, vitae suscipit leo bibendum. Aenean elementum sapien ipsum, at euismod lacus congue et. Maecenas quis nisl lorem.
      </p>
    </div>
    <div class="images">
      <figure class="higher"></figure>
      <figure class="lower"></figure>
    </div>
  </div>
  <div class="end text-holder">
    <h4>Some title</h4>
    <p>Vivamus a lobortis nunc. Curabitur tortor massa, posuere eget sem sit amet, consequat ornare leo. Nunc viverra viverra pellentesque. Vestibulum congue tellus luctus purus posuere ornare. Phasellus a turpis urna. Morbi vehicula quam id nisi imperdiet, non eleifend lectus sollicitudin. Maecenas convallis dignissim justo, ac tristique felis dictum sed. In pharetra porta velit a sodales. Maecenas ac tortor dolor. Vestibulum non efficitur nunc, ac elementum est. Ut tristique porttitor ex et posuere. Curabitur feugiat elemen</p>
  </div>


</div>
