<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div data-hook="homepage_products">
  <div id="welcome-wrapper">
    <div class="slideshow">
      <div class="welcome-banner one">
      </div>
      <div class="welcome-banner two">
      </div>
      <div class="welcome-banner three">
      </div>
      <div class="welcome-banner four">
      </div>
    </div>
    <div class="overlay">
      <h2>Welcome to Our Online Storefront</h2>
      <p>
        Feel free to browse...
      </p>
    </div>
  </div>

  <div id="greeting">
    <h2>All Products are sourced Ethically and Sustainably :D</h2>
    <p>Check out our wide range of handmade Clothing, Jewelry and Gifts below</p>
  </div>
  <% if @current_taxon %>
    <% @current_taxon.children.each do |taxon| %>
      <% @taxon = taxon %>
      <div class="taxon" data-hook="taxon">
        <h3 class="subtaxon-title home"><%= @taxon.name %></h5>
        <%= render partial: 'spree/shared/products', locals: { products: taxon_preview(@taxon), taxon: @taxon } %>
      </div>
    <% end %>
  <% end %>

</div>
